#figureContent {
  margin-bottom: 2em;
}

#dateContent {
  margin-bottom: 2em;
  margin-top: -0.8em;
}

.comments-overflow {
  overflow-y: scroll;
  height: 25em;
  /* width: 44em; */
}

#articleContentContainer {
  margin-right: auto;
}